.chart-bar-container {
  width: calc(32 * 5px + 85px + 40 * 4px);
  // width: 870px;
  height: 174px;
  background-color: white;
}

@media screen and (max-width: 460px) {
  .chart-wrapper {
    position: relative;
    .stack-bar-chart-wrapper {
      width: 94vw;
      margin: 0 8px;
      overflow-x: scroll;
      // direction: rtl;
    }
    #myChartAxis {
      position: absolute;
      top: 0;
      left: 8px;
    }
  }
}
